fastapi
uvicorn
pinecone-client
langchain
langchain-openai
langchain-huggingface
langchain-community
langchain-pinecone
langchain_cohere
cohere
langgraph
python-dotenv

selenium
BeautifulSoup4
html2text
PyPDF2